[user]
	email = brenix@gmail.com
	name = Paul Nicholson
[includeIf "gitdir:~/work/"]
	path = ~/work/.gitconfig
[push]
	default = simple
[core]
	editor = vim
	preloadindex = true
	whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
	pager = delta --theme="Nord" --minus-color="#52383A" --minus-emph-color="#BF616A" --plus-color="#2E4430" --plus-emph-color="#A3BE8C"
[apply]
	whitespace = strip
[log]
	date = short
[format]
	pretty = '%C(yellow)%h%Creset %C(magenta)%cd%Creset %d %s %C(green)%an'
[branch]
	autosetuprebase = always
[protocol]
	version = 2
[color]
	ui = true
	pager = true
	branch = auto
	diff = auto
	status = auto
	showbranch = auto
	interactive = auto
	ui = true
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = green
	changed = yellow
	untracked = cyan
[merge]
	tool = vimdiff
[mergetool]
	prompt = true
[mergetool "vimdiff"]
	cmd = nvim -d $LOCAL $REMOTE $MERGED -c 'wincmd w' -c 'wincmd J'
[difftool]
	prompt = false
[diff]
	tool = vimdiff
[alias]
	# Display branch name
	branch-name = "!git rev-parse --abbrev-ref HEAD"
	# Push the current branch to the remote "origin", and set it to track
	# the upstream branch
	publish = "!git push -u origin $(git branch-name)"
	# Delete the remote version of the current branch
	unpublish = "!git push origin :$(git branch-name)"
	# Delete a branch and recreate it from master — useful if you have, say,
	# a development branch and a master branch and they could conceivably go
	# out of sync
	recreate = "!f() { [[ -n $@ ]] && git checkout \"$@\" && git unpublish && git checkout master && git branch -D \"$@\" && git checkout -b \"$@\" && git publish; }; f"
	# Given a merge commit, find the span of commits that exist(ed) on that
	# branch. Again, not so useful in itself, but used by other aliases.
	merge-span = "!f() { echo $(git log -1 $2 --merges --pretty=format:%P | cut -d' ' -f1)$1$(git log -1 $2 --merges --pretty=format:%P | cut -d' ' -f2); }; f"
	# Find the commits that were introduced by a merge
	merge-log = "!git log `git merge-span .. $1`"
	# Show the changes that were introduced by a merge
	merge-diff = "!git diff `git merge-span ... $1`"
	# Interactively rebase all the commits on the current branch
	rebase-branch = "!git rebase -i `git merge-base master HEAD`"
	# Unstage any files that have been added to the staging area
	unstage = reset HEAD
	# Show changes that have been staged
	diffc = diff --cached
	# Delete merged branches
	delete-merged = "!git checkout master && git branch --no-color --merged | grep -v '\\*' | xargs -n 1 git branch -d"
	# Delete local branches
	delete-all-local = "!git checkout master && git branch --no-color | grep -v 'master' | xargs -n 1 git branch -D"
	# One line log
	tree = log --graph --pretty=oneline --decorate
[diff "sopsdiffer"]
	textconv = sops -d
[interactive]
	diffFilter = delta --color-only --theme="Nord" --minus-color="#52383A" --minus-emph-color="#BF616A" --plus-color="#2E4430" --plus-emph-color="#A3BE8C"

