[user]
	email = brenix@gmail.com
	name = Paul Nicholson
[includeIf "gitdir:~/work/"]
	path = ~/work/.gitconfig
[push]
	default = simple
[core]
	editor = vim
	preloadindex = true
	whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
[apply]
	whitespace = strip
[log]
  date = short
[format]
  pretty = '%C(yellow)%h%Creset %C(magenta)%cd%Creset %d %s'
[branch]
  autosetuprebase = always
[protocol]
 version = 2
[color]
	ui = true
	pager = true
	branch = auto
	diff = auto
	status = auto
  showbranch = auto
	interactive = auto
  ui = true
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[alias]
	tree = log --graph --pretty=oneline --decorate
  prune = !git remote prune origin
	delete-merged = !git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d
	delete-local = !git branch --no-merged | grep -v '\\*' | xargs -n 1 git branch -D
