# beets
beets/.config/beets/discogs_token.json
beets/.config/beets/state.pickle

# ncmpcpp
ncmpcpp/.ncmpcpp/error.log

# syncthing
.stfolder

# vim
vim/.config/nvim/.netrwhist
vim/.vim/.netrwhist
vim/.vim/bundle/*

# weechat
weechat/.weechat/*.log
weechat/.weechat/*fifo
weechat/.weechat/logs
weechat/.weechat/perl
weechat/.weechat/ruby
weechat/.weechat/script
weechat/.weechat/sec.conf
weechat/.weechat/tcl

# zsh
zsh/.zsh.d/local/*
!zsh/.zsh.d/local/.gitkeep
