! -- xft
Xft.dpi:                     92
Xft.antialias:               true
Xft.autohint:                false
Xft.hinting:                 true
Xft.hintstyle:               hintslight
Xft.lcdfilter:               lcddefault
Xft.rgba:                    rgb

! -- cursor
Xcursor.theme:               capitaine-cursors

! -- urxvt
URxvt*boldFont:
URxvt*font:                  xft:Hack Nerd Font Mono:pixelsize=12
!URxvt*font:                  -*-terminus-*-*-*-*-*-*-*-*-*-*-*-*
URxvt*termName:              rxvt-256color
URxvt.depth:                 32
URxvt*lineSpace:             -1
URxvt*letterSpace:           -2
URxvt.iso14755:              false
URxvt.iso14755_52:           false
URxvt.scrollBar:             false
URxvt*loginShell:            true
URxvt.internalBorder:        0
URxvt*geometry:              150x35
URxvt.clipboard.autocopy:    true
URxvt.perl-ext-common:       default,matcher
URxvt.url-launcher:          /usr/bin/google-chrome-unstable
URxvt.matcher.button:        1
URxvt.matcher.rend.0:        Uline Bold fg12
URxvt.cursorBlink:           1
URxvt.cursorUnderline:       1

! -- colors
#include ".xcolors.d/brenix-hacker"
!#include "/home/brenix/.cache/wal/colors.Xresources"
