configuration {
	bw: 0;
	combi-hide-mode-prefix: true;
	combi-modi: "window,run";
	dpi: 91;
	font: "Terminus 11";
	hide-scrollbar: true;
	line-margin: 1;
	lines: 10;
	modi: "window,run,combi,calc";
	padding: 0;
	separator-style: "solid";
	terminal: "st";
	theme: "~/.cache/wal/colors-rofi-dark";
	width: 20;
	window-format: "{c}";
}
