* {
  border: 0;
  border-radius: 0;
  padding: 0 0;
  font-family: "Terminus";
  font-size: 10px;
  min-height: 0;
}

#backlight,
#battery,
#clock,
#cpu,
#pulseaudio,
#tags,
#language,
#memory,
#network,
#window,
#workspaces,
#temperature,
#pulseaudio,
#taskbar,
#workspaces,
#custom-mpd,
#custom-spotify {
  background: #181818;
  color: #dddddd;
}

window#waybar {
  background-color: #181818;
  color: #dddddd;
}


.modules-left {
  background-color: #181818;
  padding: 0px 0px 0px 0px;
}


.modules-right {
  background-color: #181818;
  padding: 0px 5px 0px 0px;
}

.modules-right>widget>* {
  margin: 0 10px 0 0;
}

#workspaces button {
  padding: 0px 6px 0px 6px;
  min-width: 1px;
}

#workspaces button.empty {
  color: #dddddd;
}

#workspaces button.visible {
  padding: 0px 6px 0px 6px;
  min-width: 1px;
  color: #ea6962;
}

#workspaces button.focused {
  padding: 0px 6px 0px 6px;
  padding: 0px 6px 0px 6px;
  background-color: #686868;
  color: #dddddd;
}

#workspaces button.active {
  padding: 0px 6px 0px 6px;
  background-color: #686868;
  color: #dddddd;
}