@define-color accent_color #95CC91
@define-color accent_fg_color #95BCFB;
@define-color accent_bg_color #95CC91
@define-color window_bg_color #3E4051;
@define-color window_fg_color #C1C8E1;
@define-color headerbar_bg_color #3E4051;
@define-color headerbar_fg_color #C1C8E1;
@define-color popover_bg_color #3E4051;
@define-color popover_fg_color #C1C8E1;
@define-color view_bg_color #45475A
@define-color view_fg_color #C1C8E1;
@define-color card_bg_color #45475A
@define-color card_fg_color #C1C8E1;
@define-color sidebar_bg_color @window_bg_color;
@define-color sidebar_fg_color @window_fg_color;
@define-color sidebar_border_color @window_bg_color;
@define-color sidebar_backdrop_color @window_bg_color;
